h2{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 200;
}

form{
  width: 100%;
  padding: 80px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.Mail, .Password, .Role{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 200;
}

label, .Role{
  font-size: 25px;
  transform: translateX(-50px);

}

input{
  border: none;
  border-radius: unset;
  border-bottom: 2px solid green;
  width: 340px;
  height: 40px;
  padding: 8px 20px;
}

input.error{
  border-bottom: 2px solid orange;
}

input:focus{
  border-bottom: 2px solid black;
}

input:focus, input:valid{
  outline: none!important;
  font-size: 20px;
}

button{
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  background-color: unset;
  border: unset;
  border-radius: 3px;
  transition:.3s ease all;
  background-color: orange;
}

button:hover{
  cursor: pointer;
}

.signin{
  margin: none;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: orange;
}

select{
  border: unset;
  width: 340px;
  height: 40px;
  font-size: 25px;
  font-weight: 200;
  padding: 5px 8px;
  box-shadow: none;
  appearance: none;
  border-bottom: 2px solid orange;
  user-select: none;
}

select:focus{
  border: unset;
  border-bottom: 2px solid orange;
}
