.commands-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
}

h2{
    font-size: 20px;

}

.command{
    width: fit-content;
    background-color:#f8f7f7 ;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

a .command{
    color: black!important;
    text-decoration: none;
    
}

a .command h3{
    font-size: 20px;
    font-weight: 300;
}
