* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html{
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    z-index: 10;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.header-content .logo{
    width: 100px;
}

.header-content nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-content nav ul a {
    text-decoration: none;
    color: black;
    padding: 7px;
    transition: 200ms ease-in-out;
    border-radius: 5px;
}

/* .header-content nav ul a:hover {
    background-color: rgb(239, 239, 239);
} */

.header-content nav ul:first-child{
    position: relative;
}

.Deroulant:hover .ProductOpt{
    visibility: visible;
}

.Deroulant i{
    font-size: 10px;
    padding-left: 5px;
}

.Deroulant .ProductOpt{
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -46px;
    line-height: 1.85;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 0px 0px 10px 10px;

}

.myProducts{
    font-size: 12px;
    border-radius: 0px 0px 10px 10px;
}

.ProductOpt .suppression{
    bottom: -80px;
}

.content {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}



.connect{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(240, 245, 250);
    border-radius: 100vmax;
}

.logo-connect{
    position: absolute;
    left: center;
    top:center;
    font-size:16px;
}

.logo-connect:hover{
    cursor: pointer;
}

.logo-connect::after{
    opacity: 0;
    position: absolute;
    display: block;
    content:"";
    width: 10px;
    height: 10px;
    top: -8px;
    left: 12px;
    border-radius: 100vmax;
    border: 2px solid  rgba(215, 215, 215, 0.6);
    background-color:  black;
}

.logo-connect.connected::after{
    opacity: 1;
    background-color: blue;
}

.sous-menu{
    z-index: -10;
    font-size: 14px;
    position: absolute;
    left: -20px;
    bottom: -36px;
    width: fit-content;
    height: 30px;
    padding: 5px;
    background-color: orange;
    border-radius: 0px 0px 10px 10px;
    transform: translateY(-10px);
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;

}

.sous-menu.visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: all 0.3s linear;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sous-menu li a:hover{
    background-color: none;
}

/* flash message */
.flash_message {
    background: #ff00008f;
    position: fixed;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
    top: -100px;
    transition: 400ms ease-in-out;
    left: calc(50% - 200px);
    width: 400px;
    text-align: center;
}

.flash_message.show {
    top: 15px;
}

.flash_message.error {
    background: #ff00008f;
}

.flash_message.success {
    background: #24bc008f;
}


.modal{
    display: none; 
    position: fixed; 
    z-index: 1;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(130, 130, 130, 0.5);
  }
  
  .modal-content{
    position: relative;
    left: 40%;
    top: 40%;
    padding: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    background-color: white;
    border: 4px solid orange;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
  
  }
  
  .modal-content #close-modal{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .modal-content p{
    padding-top: 50px;
  }
  
  .modal-content form{
    display: flex;
    justify-content: center;
  }
  
  .modal-content form > button{
    background-color: unset;
    border: none;
    border-bottom: 3px solid orange;
    font-size: 16px;
    padding: 3px;
  }
  
  .modal-content > button{
    background-color: unset;
    border: none;
    font-size: 20px;
  }

  #close-Modal{
    background-color: unset;
    border: none;
    border: 2px solid orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 3px;
    border-radius: 5px;
  }