* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.header-content .logo{
    width: 80px;
}

.header-content nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header-content nav ul a {
    text-decoration: none;
    color: black;
    padding: 7px;
    transition: 200ms ease-in-out;
    border-radius: 5px;
}

.header-content nav ul a:hover {
    background-color: rgb(239, 239, 239);
}

.header-content nav ul:first-child{
    position: relative;
}

.Deroulant:hover .ProductOpt{
    visibility: visible;
}

.Deroulant .ProductOpt{
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: -100px;
    line-height: 2;
    transition: all 0.3s ease;
}

.ProductOpt .suppression{
    bottom: -80px;
}

.ProductOpt::before{
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 50px;
}

.content {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}