h2{
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 200;
}

form{
  width: calc(100% - 40px);
  padding: 80px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

input{
  border: none;
  border-radius: unset;
  border-bottom: 2px solid green;
  width: 340px;
  height: 40px;
  padding: 8px 20px;
}

textarea{
  width: 340px;
  height: 100px;
  resize: none;
}

input.error{
  border-bottom: 2px solid orange;
}

input:focus{
  border-bottom: 2px solid black;
}

input:focus, input:valid{
  outline: none!important;
  font-size: 20px;
}

button{
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  background-color: unset;
  border: unset;
  border-radius: 3px;
  transition:.3s ease all;
  background-color: orange;
}

button:hover{
  cursor: pointer;
}





.name, .description, .price{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 200;
}

label{
  font-size: 25px;
  transform: translateX(-50px);

}
