.top-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 80px;
}

.searchbar{
    border: none;
    background-color: none;
    border-bottom: 2px solid orange;
    /* border-radius: 10px; */
    width: 180px;
}

.search-btn, .reset-search{
    padding: 1px 2px;
    font-size: 20px;
    color: black;
}



.searchbar:focus, .searchbar:valid {
    outline: none!important;
    font-size: 18px;
    padding: 5px;
}

h2{
    font-size: 32px;
    font-weight: 200;
}

.products {
    width: 100%;
}

.products-list {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 30px;
    background-color:rgb(240, 245, 250) ;
    border-radius: 5px;
    cursor: pointer;
    min-width: 500px;
    min-height: 200px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.product-card  > img{
    width: 150px;
    padding-left: 10px;
}

.Right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    justify-content: space-around;
}

.Right form > button{
    border: none;
    background: unset;
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.Right form > button.publish{
    background-color: rgba(13, 225, 13, 0.5);
}

.Right form > button.unpublish{
    background-color: rgba(225, 13, 13, 0.5);
}

.product-card p {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
}

.product-card h3{
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.product-card .product-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.product-card .desc{
    font-size: 18px;
    font-weight: 200;
    max-width: 300px;
    overflow-wrap: break-word;
    padding: 0px 5px;
}

.product-card .price{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}

.button-add-product{
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.add-product{
    background-color: rgba(255, 165, 0, .5);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 18px;
}