.cart-title{
  width: 100%;
  font-size: 40px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 50px 0px;
}

.cart-title h2{
  font-weight: 300;
}

p{
  font-size: 24px;
  font-weight: 200;
}

table{
  margin: auto;
  transform: translateX(50px);
}

th, td {
  border-bottom: 2px solid orange;
  background-color:  rgba(255, 165, 0, 0.8);
}

th{
  min-width: 200px;
  font-size: 28px;
  font-weight: 300;
  padding: 8px;
  text-align: center;
}

td{
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  text-align: center;
}

tbody tr td:last-child{
  border: none;
  background-color:unset;
  width: 30px;
}

td a{
  text-decoration: none;
  color: black;
}

td form > button{
  background-color: unset;
  border: none;
  border: 2px solid orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 3px;
  border-radius: 5px;
}

.product-price, .product-quantity{
  text-align: center!important;
}

.command-price{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  padding-top: 60px;
}

.price-total{
  font-size: 28px;
}

.command-price > button{
  background-color: unset;
  border: none;
  border: 2px solid orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 3px;
  border-radius: 5px;
}